---
title: Lawn Service & Maintenance | Lafayette, LA | All Around Lawn Service
description: >-
  All Around Lawn Service offers a variety of lawn care services for all of
  Lafayette and the surrounding areas, call or email for a free estimate!
keywords: >-
  St. Martinville, Saint Martinville, Broussard,  Scott, LA, Louisiana, lawn
  maintenance, landscape, hydro-seeding, holiday décor, landscaping, lawn care,
  horticultural services, hydro-mulching, pressure wash, lawn aeration,
  fertilization, weed control, holiday decorating, event decorating,
  residential, commercial, Broussard, Lafayette, South Louisiana, lawn service,
  Youngsville, Breaux Bridge, weedeating,
layout: default
permalink: /
---
<!-- header -->
  <section class="overflow-hidden bg-black" data-aos="fade-in">
    <div class="d-flex flex-column py-20 container foreground min-vh-100">
      <div class="row align-items-center justify-content-center justify-content-lg-between my-auto">
        <div class="col-md-10 col-lg-6 col-xl-5 inverted mb-5 mb-lg-0 text-center text-lg-start">
          <h1 class="lh-sm text-white mb-4 text-uppercase fw-bold editable">Best lawn service around.</h1>
          <p class="lead text-secondary mb-4 editable">Quality work with a personal service.</p>
          <div class="d-inline-flex align-items-center mb-0">
            <span class="fs-2 me-2 lh-1 fw-bold">5.0</span>
            <ul class="rating text-yellow me-3 fs-5">
              <li><i class="bi bi-star-fill"></i></li>
              <li><i class="bi bi-star-fill"></i></li>
              <li><i class="bi bi-star-fill"></i></li>
              <li><i class="bi bi-star-fill"></i></li>
              <li><i class="bi bi-star-fill"></i></li>
            </ul>
          </div>
          <small class="d-block text-muted editable">Based on 24 reviews.</small>
        </div>
        <div class="col-md-10 col-lg-6 col-xl-6" data-aos="fade-up">
          <div class="card bg-opaque-black">
            <div class="card-body bg-white">
              <form method="post" action="/success" class="row g-2" id="quote">
                <div class="col-md-12"><h4 class="editable">Request a Quote</h4>
                <p class="editable">
                  Get in touch with us or give us a call <a class="phone fw-bold" href="tel:337-332-5298">337-332-5298</a>
                </p>
              </div>
                <div class="col-lg-6">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput-1" placeholder="Your Name" name="name" required />
                    <label for="floatingInput-1" name="Name">Your Name</label>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput-1" placeholder="Phone Number" name="number" required />
                    <label for="floatingInput-1" name="Name">Your Number</label>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput-2" placeholder="Your Address" name="Address" />
                    <label for="floatingInput-2">Your Address</label>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput-2" placeholder="Acreage" name="Acreage" />
                    <label for="floatingInput-2">Estimated Acreage</label>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput-3" placeholder="name@example.com" name="email" required />
                    <label for="floatingInput-3">Email address</label>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput-2" placeholder="How did you hear about us" name="how they heard" />
                    <label for="floatingInput-2">How did you hear about us</label>
                  </div>
                </div>
                
                <div class="col-md-12">
                  <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" name="message"></textarea>
                    <label for="floatingTextarea2">Message</label>
                  </div>
                </div>
                <input type="hidden" name="inbox_key" value="all-around-contact" />
                <input type="hidden" name="_to" value="candy@allaroundlawnservice.com,james@allaroundlawnservice.com" />
                <input type="text" name="_gotcha" style="display: none;" />
                <div class="d-grid">
                  <input class="btn btn-green btn-lg" type="submit" value="Get In Touch" />
                </div>
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <figure class="background background-overlay" style="background-image: url('./assets/images/lafayette-lawn-services.png');background-position:bottom" data-top-top="transform: scale(1);" data-top-bottom="transform: scale(1.1);"></figure>
  </section>



 <section class="py-15 py-xl-20" id="about">
   <div class="container">
     <div class="row justify-content-center mb-10">
       <div class="col-lg-12 text-center">
         <h2 class="fw-bold editable">All Around Lawn Service, Inc. is licensed & insured <br /> <span class="fw-light fs-4">serving Acadiana’s commercial and residential lawn care needs since 2008.</span></h2>
       </div>
     </div>
     <div class="row g-3 g-xl-5">
       <div class="col-lg-4 aos-init aos-animate" data-aos="fade-up">
         <div class="card bg-opaque-green d-flex h-100">
           <div class="card-header">
             <i class="bi bi-house fs-2 text-green"></i>
           </div>
           <div class="card-footer">
             <h3 class="fs-5 fw-bold editable">Residential</h3>
             <p class="text-primary editable">Servicing Lafayette and surrounding areas.
               For all residential and service needs, please contact us or request a quote.</p>
           </div>
         </div>
       </div>
       <div class="col-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
         <div class="card bg-opaque-green d-flex h-100">
           <div class="card-header">
             <i class="bi bi-building fs-2 text-green"></i>
           </div>
           <div class="card-footer">
             <h3 class="fs-5 fw-bold editable">Commercial</h3>
             <p class="text-primary editable">Servicing Lafayette and surrounding areas.
               For all commercial and service needs, please contact us or request a quote.</p>
           </div>
         </div>
       </div>
       <div class="col-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
         <div class="card bg-opaque-green d-flex h-100">
           <div class="card-header">
             <i class="bi bi-tree-fill fs-2 text-green"></i>
           </div>
           <div class="card-footer">
             <h3 class="fs-5 fw-bold editable">Maintenance</h3>
             <p class="text-primary editable">Lawn maintenance includes: mowing, weed trimming, edging, blowing, pesticide maintenance of weeds and bugs, weed and feed. We also do flower bed maintenance, washing houses and buildings, and general clean ups.</p>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>


<!-- gallery -->
  <section class="overflow-hidden" data-aos="fade-left" id="gallery">
    <div class="container gallery-1">
      <div class="row flex-nowrap align-items-end g-2 g-xl-5 mb-2 mb-xl-5" data-bottom-top="transform: translateX(-25%)" data-top-bottom="transform: translateX(-40%)">
        {% for item in site.data.gallery %}
        <div class="col-6">
          <figure class="media equal equal-16-10 media-image" data-bp='{"imgSrc": "{{item.image}}" , "parentGalleryClass": "gallery-1" }'>
            <span style="background-image: url('{{item.image}}')">
            </span>
          </figure>        
        </div>
        {% endfor %}
      
      </div>
    </div>
  </section>

  <!-- Services -->
  <section class="py-15 py-xl-20" id="services">
    <div class="container mt-5 mt-xl-10">
      <div class="row mb-10 g-3 g-xl-5 align-items-end">
        <div class="col-lg-8">
          <h1 class="display-1 fw-bold text-primary editable">Quality Services</h1>
        </div>
        <div class="col-lg-4 text-lg-end">
          <p class="fs-lg text-muted editable">
            Our mission is to serve our customers, our community, and our team members with honesty and integrity, one lawn at a time.
          </p>
        </div>
      </div>
      <div class="row mb-5 g-3 g-xl-5">
        {% for item in site.data.services %}
        <div class="col-md-4">

            <div class="row g-0">
              <div class="col-xl-12">
                <figure class="media equal-16-10">
                  <span style="background-image: url('{{item.image}}')">
                  </span>
                </figure>              </div>
              <div class="col-xl-12">
                <div class="card-body">
                  <h2 class="card-title mt-2 fs-4 lh-2 pe-xl-10">{{item.name}}</h2>
                  <span class="eyebrow text-muted">{{item.description}}</span>
                </div>
              </div>
            </div>
  
        </div>
        {% endfor %}
       
      </div>
     
    </div>
  </section>


  <!-- testimonials -->
  <section class="pb-15 pb-xl-20 overflow-hidden" id="reviews">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="carousel carousel-with-nav">
            <div data-carousel='{"controls": false, "autoHeight": true ,"gutter": 200, "center": true, "mouseDrag": true }'>
            {% for item in site.data.testimonial %}
              <div>
                <blockquote class="text-center">
                  
                  <h4 class="fs-3 my-3">{{item.testimony}}</h4>
                  <footer class="blockquote-footer">
                    <span class="text-black fw-bold">{{item.name}}</span>
                  </footer>
                </blockquote>
              </div>
            {% endfor %}
             
            </div>
          </div>
        </div>
        <div class="col-md-12 text-center mt-5">
          <p>Read more on <a href="https://facebook.com/allaroundlawnserviceinc/reviews">facebook</a></p>
        </div>
      </div>
    </div>
  </section>



  