 <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Favicon -->
<!-- <link rel="shortcut icon" href="./assets/images/favicon.ico" type="image/x-icon" /> -->

<!-- Libs CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/libs.bundle.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css" />

<!-- Main CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/index.bundle.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Sacramento&display=swap" rel="stylesheet">